:root {
    --blue-gray: #f0f2f5;
    --pale-blue: #2c3d57;
    --mid-gray: #999999;
    --jean-blue: #3d4b80;
    --light-blue: #95afc0;
    --sky-blue: #dff9fb;
    --dark-sky-blue: #c7ecee;
    --light-gray: #3ccc;
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

#header {
    background-color: var(--blue-gray);
    padding: 1.25rem 0;
}

#header .header-wrapper .logo {
    font-size: 1.3rem;
    line-height: 1.5;
}

#header .header-wrapper .logo a {
    color: black;
    letter-spacing: 5px;
}

#header .header-wrapper .user-actions {
    font-size: 1rem;
    line-height: 1.5rem;
    gap: 1rem;
}

#header .header-wrapper .user-actions .logout-btn {
    cursor: pointer;
    margin-left: 1.5rem;
}

#header .header-wrapper .user-actions a {
    color: black;
}

#header .header-wrapper .user-actions a:hover {
    text-decoration-line: underline;
}

.loader-backdrop {
    position: absolute;
    background-color: rgb(0, 0, 0, 1);
    height: 100%;
    width: 100%;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
}

.loader2 > div {
    border: 5px solid red;
    height: 5rem;
    width: 5rem;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    border-radius: 50%;
    animation: spinner2 2s linear infinite;
    animation-direction:alternate-reverse;
}

@keyframes spinner2 {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}